Repository hmcts/ccfr-fees-register-app, pull requests merged in 2019-01, with the labels that each got.

#190 added changes to enable db migration in jenkins
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  api/build.gradle
  api/liquibase.gradle
  api/src/main/java/uk/gov/hmcts/fees2/register/util/FeeLoader.java
  api/src/main/resources/liquibase.properties
  api/src/test/java/uk/gov/hmcts/fees2/register/api/repository/Fee2CrudComponentTest.java
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  model/src/main/java/uk/gov/hmcts/fees2/register/data/repository/FeeVersionRepository.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/service/FeeVersionService.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/service/impl/FeeVersionServiceImpl.java
Labels: ns:fees-register-api-pr-190

#171 Pay 1319
  api/src/main/java/uk/gov/hmcts/FeesApplicationListener.java
  api/src/main/java/uk/gov/hmcts/FeesRegisterServiceApplication.java
  api/src/main/java/uk/gov/hmcts/FeesServletContextListener.java
  api/src/main/java/uk/gov/hmcts/logging/Markers.java
Labels: ns:fees-register-api-pr-171

#188 don't know why fee lookup tests were ignored. These are so important …
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
  kubernetes/config.aat.yaml
Labels: ns:fees-register-api-pr-188

#192 fix liquibase file type error
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/mapper/FeeLoaderJsonMapper.java
  api/src/main/resources/application-local.properties
  api/src/main/resources/liquibase.properties
Labels: ns:fees-register-api-pr-192

#193 applied fix
  api/liquibase.gradle
Labels: ns:fees-register-api-pr-193

#195 reverting jenkins db migration task
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  api/build.gradle
  api/liquibase.gradle
  api/src/main/resources/liquibase.properties
  build.gradle
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
Labels: ns:fees-register-api-pr-195
