Repository hmcts/ccfr-fees-register-app, pull requests merged in 2019-04, with the labels that each got.

#210 PAY-1590 Probate ranged fee from 0 to 5000 added
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/FeeController.java
  api/src/main/resources/db/changelog/db.changelog-fees-managed-v6.yaml
  api/src/main/resources/db/changelog/db.changelog-master.yaml
  infrastructure/prod.tfvars
Labels: ns:fees-register-api-pr-210

#213 sidam demo
  infrastructure/demo.tfvars
Labels: ns:fees-register-api-pr-213

#214 Shared app insights
  api/build.gradle
  api/src/main/resources/application.properties
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:fees-register-api-pr-214

#215 removed json appender using default
  infrastructure/main.tf
Labels: ns:fees-register-api-pr-215

#218 update ase name mechanisim
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:fees-register-api-pr-218

#221 shared app_insights fix
  infrastructure/main.tf
Labels: ns:fees-register-api-pr-221

#211 Unlink model module from contract module.
  api-contract/build.gradle
  api-contract/src/main/java/uk/gov/hmcts/fees2/register/api/contract/AllReferenceDataDto.java
  api-contract/src/main/java/uk/gov/hmcts/fees2/register/api/contract/Fee2Dto.java
  api-contract/src/main/java/uk/gov/hmcts/fees2/register/api/contract/FeeVersionDto.java
  api-contract/src/main/java/uk/gov/hmcts/fees2/register/api/contract/FeeVersionStatusDto.java
  api-contract/src/main/java/uk/gov/hmcts/fees2/register/api/contract/RangeUnitDto.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/fixture/FixedFeeFixture.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/ReferenceDataController.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/mapper/FeeDtoMapper.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/mapper/ReferenceDataDtoMapper.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/LookupFeeBorderTestCases.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/UnspecifiedFeesAcceptanceTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/acceptance/FeeControllerFixedFeesAcceptanceCriteriaTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/acceptance/LookupFeeAcceptanceCriteriaTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/BaseIntegrationTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/BaseTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/FeeDataUtils.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/MockUtils.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/repository/Fee2CrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/service/FeeServiceTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/service/FeeVersionServiceTest.java
  dependency-check-suppressions.xml
Labels: ns:fees-register-api-pr-211

#226 PAY-1456
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  README.md
  api/build.gradle
  api/liquibase.gradle
  api/src/main/resources/application-local.properties
  api/src/main/resources/db/changelog/db.changelog-fees-001.yaml
  api/src/main/resources/db/changelog/db.changelog-master.yaml
  api/src/main/resources/liquibase.properties
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
Labels: ns:fees-register-api-pr-226
