Repository hmcts/ccfr-fees-register-app, pull requests merged in 2019-03, with the labels that each got.

#204 using health liveness and minor cleanup
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/fees/register/api/configuration/SpringSecurityConfiguration.java
  api/src/main/resources/application.properties
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/requirements.yaml
  charts/fees-register-api/templates/NOTES.txt
  charts/fees-register-api/values.template.yaml
Labels: ns:fees-register-api-pr-204

#207 changes to be able to build in AAT using flux
  api/src/main/resources/bootstrap.yaml
  build.gradle
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/requirements.yaml
  charts/fees-register-api/values.template.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:fees-register-api-pr-207

#208 changing to property instead of env variable
  api/src/main/resources/bootstrap.yaml
Labels: ns:fees-register-api-pr-208
