Repository hmcts/ccfr-fees-register-app, pull requests merged in 2019-11, with the labels that each got.

#242 PAY-2497:AKS Migration changes
  Dockerfile
  Jenkinsfile_CNP
  api/src/main/resources/application.properties
  api/src/main/resources/bootstrap.yaml
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/requirements.yaml
  charts/fees-register-api/values.aat.template.yaml
  charts/fees-register-api/values.preview.template.yaml
  charts/fees-register-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-register-api-pr-242

#243 PAY-2497:Changed version from MOJ to CNP
  infrastructure/main.tf
Labels: ns:fees-register-api-pr-243

#244 PAY-2497:Removing fee lookup API from API Gateway
  api/build.gradle
  api/liquibase.gradle
  build.gradle
  dependency-check-suppressions.xml
  infrastructure/main.tf
Labels: ns:fees-register-api-pr-244

#245 PAY-2497:Aks related changes
  .travis.yml
  api/build.gradle
  api/liquibase.gradle
  build.gradle
  client/build.gradle
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:fees-register-api-pr-245

#251 Merge branches 'PAY-2497' and 'master' of github.com:hmcts/ccfr-fees-register-app into PAY-2497
  api/src/main/resources/bootstrap.yaml
  charts/fees-register-api/values.preview.template.yaml
  charts/fees-register-api/values.yaml
  infrastructure/main.tf
Labels: ns:fees-register-api-pr-251

#252 PAY-2497:Changes to get secrets from new key vaults
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  api/src/main/resources/bootstrap.yaml
  charts/fees-register-api/values.yaml
  infrastructure/main.tf
Labels: ns:fees-register-api-pr-252, ns:fees-register-ccfr-api-pr-252

#262 Changes for upgrading chart version
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.preview.template.yaml
Labels: ns:fees-register-api-pr-262
