Repository hmcts/ccfr-fees-register-app, pull requests merged in 2020-11, with the labels that each got.

#324 chart version publish for new instance pointing
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-324

#322 PAY-3704- Terraform version upgrade 0.13
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.yaml
  dependency-check-suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/versions.tf
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-322

#326 PAY-3864 : Nightly Build issue fix
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-326

#325 Fees-Register DB Upgrade - new DB instance creation
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-325
