Repository hmcts/ccfr-fees-register-app, pull requests merged in 2020-03, with the labels that each got.

#269 [[AR]] - PAY-2913 Fee Loader Issue
  Jenkinsfile_CNP
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
  api/src/main/resources/feeLoader.json
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.preview.template.yaml
  charts/fees-register-api/values.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, rel:fees-register-api-pr-269

#270 Update values.yaml
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.yaml
Labels: ns:fees-pay, rel:fees-register-api-pr-270

#271 Pay 2953 nightly build fix
  api/src/main/java/uk/gov/hmcts/fees/register/api/controllers/fees/FeesDtoMapper.java
  api/src/main/resources/feeLoader.json
  api/src/test/java/uk/gov/hmcts/fees/register/api/controllers/CategoryDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/fees/register/api/controllers/FeesDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/fees/register/api/controllers/RangeGroupsDtoMapperTest.java
  build.gradle
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.preview.template.yaml
  charts/fees-register-api/values.yaml
  dependency-check-suppressions.xml
  model/src/main/java/uk/gov/hmcts/fees/register/api/model/FixedFeeOld.java
  model/src/test/java/uk/gov/hmcts/fees/register/api/model/RangeGroupTest.java
Labels: ns:fees-pay, rel:fees-register-api-pr-271
