Repository hmcts/ccfr-fees-register-app, pull requests merged in 2020-04, with the labels that each got.

#274 AKS preparation
  Dockerfile
  api-contract/pom.xml
  api/pom.xml
  build.gradle
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/requirements.yaml
  charts/fees-register-api/values.aat.template.yaml
  charts/fees-register-api/values.preview.template.yaml
  charts/fees-register-api/values.yaml
  client/pom.xml
  fees-register-audit.log
  gradle/wrapper/gradle-wrapper.properties
  model/pom.xml
  mvnw
  mvnw.cmd
Labels: ns:fees-pay, rel:fees-register-api-pr-274

#275 added keyword to fpl testcase
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/dsl/FeesRegisterTestDsl.java
Labels: ns:fees-pay, rel:fees-register-api-pr-275

#279 Cleanup INFRA
  infrastructure/.gitignore
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/template/api-policy.xml
  infrastructure/template/api.json
  infrastructure/variables.tf
Labels: ns:fees-pay, rel:fees-register-api-pr-279
