Repository hmcts/ccfr-fees-register-app, pull requests merged in 2021-05, with the labels that each got.

#359 Nightly Build issue fix
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-359

#353 Valid To Date changes 3501
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/mapper/FeeDtoMapper.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/FeeControllerTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/service/FeeVersionServiceTest.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/service/impl/FeeVersionServiceImpl.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/util/FeesDateUtil.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-353

#360 CVE Fix
  api-contract/build.gradle
  api/src/test/java/uk/gov/hmcts/fees/register/api/componenttests/FeesCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/fees/register/api/componenttests/RangeGroupsCrudComponentTest.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-360

#362 Update Fees2APIFeeControllerTest.java
  audit.json
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-362
