Repository hmcts/ccfr-fees-register-app, pull requests merged in 2021-04, with the labels that each got.

#348 removed CVE-2020-25638
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-348

#343 Added serenity report functionality into fees register api functional…
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/build.gradle
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/BuildInfoIntegrationTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/CategoriesIntegrationForCMCTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/CategoriesIntegrationForDivorceTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/CategoriesIntegrationForProbateTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/DeleteFeeTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIToRetrieveTheCorrectFeeTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/IntegrationTestBase.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-343

#350 Jitpack fix
  .github/workflows/ci.yml
  .travis.yml
  build.gradle
  charts/fees-register-api/Chart.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  jitpack.yml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-350

#344 Added github action workflow
  .github/workflows/ci.yml
  .travis.yml
  charts/fees-register-api/Chart.yaml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-344

#354 Update Fees2APIFeeControllerTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-354

#355 Update Fees2APIFeeControllerTest.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-355

#349 changing pact verification for PR's and Master
  Jenkinsfile_CNP
  build.gradle
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-349

#351 chart version upgraded
  charts/fees-register-api/Chart.yaml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-351
