Repository hmcts/ccfr-fees-register-app, pull requests merged in 2022-01, with the labels that each got.

#432 upgrade the log4j to 2.17.0
  build.gradle
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-432

#419 Idam changes
  api-contract/src/main/java/uk/gov/hmcts/fees2/register/api/contract/FeeVersionDto.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/service/DownloadHelper.java
  api/src/main/java/uk/gov/hmcts/fees/register/api/configuration/AuthCheckerConfiguration.java
  api/src/main/java/uk/gov/hmcts/fees/register/api/configuration/SpringSecurityConfiguration.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/FeeController.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/mapper/FeeDtoMapper.java
  api/src/main/java/uk/gov/hmcts/fees2/register/util/FeeLoader.java
  api/src/main/resources/db/changelog/db.changelog-fees-001.yaml
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/FeeControllerMockTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/FeeControllerSecurityTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/FeeControllerTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/FeeVersionControllerTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/UnspecifiedFeesAcceptanceTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/acceptance/FeeControllerFixedFeesAcceptanceCriteriaTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/acceptance/FeeControllerRangedFeesAcceptanceCriteriaTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/BaseIntegrationTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/BaseTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/MockUtils.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/mapper/FeeDtoMapperTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/model/VolumeAmountsTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/repository/Fee2CrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/service/FeeSearchServiceTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/service/FeeServiceTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/service/FeeVersionServiceTest.java
  api/src/test/resources/application-idam-test.properties
  api/src/test/resources/idam-responses/userinfo-response.json
  build.gradle
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  model/build.gradle
  model/src/main/java/uk/gov/hmcts/fees2/register/data/exceptions/GatewayTimeoutException.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/exceptions/UserNotFoundException.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/model/FeeVersion.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/model/IdamUserIdResponse.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/model/IdamUserInfo.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/service/FeeService.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/service/IdamService.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/service/impl/FeeServiceImpl.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/service/impl/FeeVersionServiceImpl.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/service/impl/IdamServiceImpl.java
  model/src/main/java/uk/gov/hmcts/fees2/register/data/util/FeesDateUtil.java
  model/src/test/java/uk/gov/hmcts/fees2/register/data/service/impl/FeeServiceImplTest.java
  model/src/test/java/uk/gov/hmcts/fees2/register/data/service/impl/IdamServiceImplTest.java
  model/src/test/java/uk/gov/hmcts/fees2/register/data/util/FeesDateUtilTest.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-419

#436 Modified fucntional for discontinued fee
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-436
