Repository hmcts/ccfr-fees-register-app, pull requests merged in 2022-08, with the labels that each got.

#473 Fix fortify scan issue for username
  charts/fees-register-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-473

#475 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-475

#454 Fee Reg Changes PAY-5449
  api-contract/src/main/java/uk/gov/hmcts/fees2/register/api/contract/Fee2Dto.java
  api-contract/src/main/java/uk/gov/hmcts/fees2/register/api/contract/request/FixedFeeDto.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/FeeController.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/FeeControllerTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/BaseIntegrationTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/base/FeeDataUtils.java
  dependency-check-suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/fee_reg_core.tf
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/template/api-policy.xml
  infrastructure/variables.tf
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-454, add-or-update

#479 Add backstage configuration file
  catalog-info.yaml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-479
