Repository hmcts/ccfr-fees-register-app, pull requests merged in 2022-07, with the labels that each got.

#467 Fix for CVE-2022-34305
  charts/fees-register-api/Chart.yaml
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-467

#469 CVE-2022-31569 and CVE-2022-31548
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-469

#468 update func tests to serenity restassured
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/dsl/FeesRegisterTestDsl.java
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/service/FeeService.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-468

#471 PAY-5683 Java version upgrade in Chart yaml
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-471
