Repository hmcts/ccfr-fees-register-app, pull requests merged in 2022-04, with the labels that each got.

#449 CVE issue 11042022
  api/build.gradle
  api/src/main/resources/feeLoader.json
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-449

#445 CVE issues 22 mar 2022
  api/build.gradle
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-445

#452 Suppressed CVE - CVE-2016-1000027
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-452
