Repository hmcts/ccfr-fees-register-app, pull requests merged in 2023-08, with the labels that each got.

#530 Pay 6022 java17
  .github/workflows/ci.yml
  Dockerfile
  api-contract/build.gradle
  api/build.gradle
  api/src/main/java/uk/gov/hmcts/fees/register/api/configuration/SwaggerConfiguration.java
  api/src/main/java/uk/gov/hmcts/fees/register/api/controllers/LegacyFeesRegisterController.java
  api/src/main/java/uk/gov/hmcts/fees/register/api/controllers/rangegroups/RangeGroupsController.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/FeeController.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/FeeVersionController.java
  api/src/main/java/uk/gov/hmcts/fees2/register/api/controllers/ReferenceDataController.java
  api/src/main/resources/application.properties
  api/src/test/java/uk/gov/hmcts/fees/register/api/componenttests/FeesCrudComponentTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/FeeControllerSecurityTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/FeeVersionControllerMvcTest.java
  api/src/test/java/uk/gov/hmcts/fees2/register/api/controllers/mapper/FeeDtoMapperTest.java
  build.gradle
  charts/fees-register-api/Chart.yaml
  charts/fees-register-api/values.yaml
  client/build.gradle
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  model/build.gradle
  model/src/test/java/uk/gov/hmcts/fees2/register/data/service/impl/IdamServiceImplTest.java
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-530

#532 pact plugin upgrade to 4.6.1
  build.gradle
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-532

#533 upgrade pitest to 1.9.0
  api/build.gradle
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-533

#534 PAY-6022: Add pacts for feeRegister_lookUp
  README.md
  api-contract/pacts/divorce_feeAndPaymentService_feeRegister.json
  api-contract/pacts/fpl_ccdConfiguration.json
  api-contract/pacts/fr_caseOrchestratorService.json
  api-contract/pacts/fr_paymentService.json
  api-contract/pacts/ia_casePaymentsApi.json
  api-contract/pacts/prl_cos.json
  api-contract/pacts/probate_backOffice.json
  api-contract/pacts/probate_caveatsFrontEnd.json
  api-contract/pacts/probate_frontend.json
  api/src/functionalTest/resources/application-functional-tests.properties
  build.gradle
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-534
