Repository hmcts/ccfr-fees-register-app, pull requests merged in 2024-05, with the labels that each got.

#573 PAY-7092 fix for fees amount check in Functional tests
  api/src/functionalTest/java/uk/gov/hmcts/fees/register/functional/Fees2APIFeeControllerTest.java
  api/src/main/resources/feeLoader.json
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-573

#574 PAY-6328: Fix CVE-2022-1471
  api/build.gradle
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-574

#576 PAY-7124: Address High Vulnerabilities and upgrade gradle
  build.gradle
  client/build.gradle
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:fees-pay, prd:fees-register, rel:fees-register-api-pr-576

#578 PAY-6796: Application Insights migration to version 3.4
  Dockerfile
  charts/fees-register-api/Chart.yaml
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  lib/applicationinsights.json
Labels: ns:fees-pay, prd:fees-register, enable_keep_helm, rel:fees-register-api-pr-578
